
:root {
    --primary-white-color: #F5F5F5;
    --secondary-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --button-background-color: #F5F4FA;
    --text-color-white:  #FFFFFF;
    --text-color-black: #000000;
    }
body {
background-color: var(--primary-white-color);
color: var(--secondary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

.list{
    list-style: none;
    }


/* Стилі для index.html */

.header {
background-color: var(--text-color-white);
}
/* Стилі навігаціі */
.site-nav,
.site-contact {
 font-weight: 500;
 font-size: 14px;
 line-height: 1,43;
 letter-spacing: 0.02em;
}
.site-nav .link {
color: var(--primary-text-color);
text-decoration: none;
  }
 .site-nav .link.current {
color: var(--accent-color)
  }
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
  }

  /* Стилі контактів */
  
.site-contact .link {
text-decoration: none;
}
 .site-contact .link:hover,
 .site-contact .link:focus {
color: var(--accent-color);
  }
  .tel {
color: var(--secondary-text-color);
text-decoration: none;
  }


/* Стилі лого*/
.logo {
color: var(--text-color-black);
text-decoration: none;
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.logo:hover,
.logo:focus {
color: var(--accent-color);
}
.accent {
color: var(--accent-color);
}


/* hero */
.hero {
background: var(--secondary-color);
}
.title-hero {
color: var(--text-color-white);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

}
.hero-button {
background: var(--accent-color);
color: var(--text-color-white);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

}


/* Секції */
.section {
color: var(--secondary-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}
.section-team {
background-color: var(--button-background-color);
}
.section-title {
color: var(--primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.167;
text-align: center;
}
.section-title-list {
color: var(--primary-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.43;
text-transform: uppercase;   
}
.name {
color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.88;

}


/* Footer */
.footer {
background: var(--secondary-color);
}
.footer-logo {
color: var(--text-color-white);
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
.site-adress .link{
text-decoration: none;
color: var(--text-color-white);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}

.site-adress .link:hover, 
.site-adress .link:focus {
color: var(--accent-color);
}


/* стилі для portfolio.html */

.main {
background-color: var(--text-color-white);
}
.button {
color: var(--primary-text-color);
background-color: var(--button-background-color);
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
cursor: pointer;
}
.button:hover,
.button:focus {
color: var(--accent-color);    
}
.signature {
color: var(--primary-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.text {
color: var(--secondary-text-color);
font-size: 16px;
line-height: 1.875;
}